.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #426;
}

.auth {
  padding: 1em;
  width: 30em;
  max-width: 80vw;
  border-radius: 1em;
  color: white;
  background: linear-gradient(#fff3, #fff1);
  box-shadow: 0 0 32px #000a;
}

.auth h2 {
  font-size: 1.5em;
  margin-top: 0;
}

.auth form {
  display: flex;
  flex-direction: column;
}

.auth form label {
  margin-bottom: 0.5em;
}

.auth form input {
  margin-bottom: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 0.4em;
  color: white;
  background-color: #fff3;
}

.auth form .submit-btn {
  color: black;
  background: linear-gradient(#ff7, #ff0);
  cursor: pointer;
}

.auth form .submit-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.auth p {
  margin-top: 2em;
}

.auth a {
  color: #ff0;
  text-decoration: underline;
  cursor: pointer;
}

.auth .error {
  background-color: #f005;
  border: 1px solid #f00a;
  border-radius: 8px;
  padding: 0.5em;
  margin: 0.5em 0;
  color: #f77;
}
